<?xml version="1.0" ?>
<robot name="solo">

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="FL_HAA">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="FL_HFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="FL_KFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="FR_HAA">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="FR_HFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="FR_KFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="HL_HAA">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="HL_HFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="HL_KFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="HR_HAA">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="HR_HFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="HR_KFE">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find solo12_description)/config/solo12_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
